<% provide(:title, "Anisite | Anime") %>
<p id="notice"><%= notice %></p>
<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<h1>Anime</h1>
		<table>
			<thead>
				<tr>
					<th>Title</th>
					<th>Year</th>
					<th>Number of episodes</th>
					<th>Number of users who have watched this anime</th>
					<th colspan="3">Options</th>
				</tr>
			</thead>

			<tbody>
				<% @animes.each do |anime| %>
				<tr>
					<td><%= anime.title %></td>
					<td><%= anime.year %></td>
					<td><%= anime.number_of_episodes %></td>
					<td><%= anime.observations.count %></td>
					<td><%= link_to 'Show', anime %></td>
					<td><%= link_to 'Edit', edit_anime_path(anime) %></td>
					<td><%= link_to 'Destroy', anime, method: :delete, data: { confirm: 'Are you sure?' } %></td>
				</tr>
				<% end %>
			</tbody>
		</table>

		<br>

		<%= link_to 'New Anime', new_anime_path %>
	</div>
</div>
