<% provide(:title, "Anisite | #{@anime.title}") %>
<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<p id="notice"><%= notice %></p>

		<h1><%= "#{@anime.title}" + (@anime.year.nil? ? "" : " (#{@anime.year})") %></h1>
		
		<h3><%= @anime.number_of_episodes.nil? ? "" : "#{@anime.number_of_episodes} episode(s)"%></h3>

		<p>
			<%= @anime.description %>
		</p>
		
		<h3>Reviews</h3>
		<% @reviewer_review.each do |key, value| %>
		<p><%= "#{key} - #{value}"  %></p>
		<% end %>

		<%= link_to 'Edit', edit_anime_path(@anime) %> |
		<%= link_to 'Destroy', :anime, method: :delete, data: { confirm: 'Are you sure?' } %> |
		<%= link_to 'Back to anime list', animes_path %>
	</div>
</div>
