<% provide(:title, 'Anisite | Log In') %>
<div class="row">
  <div class="col-md-4 col-md-offset-4">
	<% if flash[:danger] %>
	    <div class="dange"><%= flash[:danger] %></div>
	  <% end %>
	<h1>Log In</h1>
    <%= form_for(:session, url: login_path) do |f| %>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.submit "Log in", class: "btn btn-primary" %>
    <% end %>

  </div>
</div>
