<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= f.label :first_name %><br>
    <%= f.text_field :first_name, :placeholder => "Please enter your first name...", class: 'form-control' %>

    <%= f.label :surname %><br>
    <%= f.text_field :surname, :placeholder => "Please enter your surname...", class: 'form-control' %>

    <%= f.label :email %><br>
    <%= f.text_field :email, :placeholder => "Please enter your email address...", class: 'form-control' %>

	<%= f.label :username %>
	<%= f.text_field :username, :placeholder => "Please enter your desired username...", class: 'form-control' %>

    <%= f.label :password %><br>
    <%= f.password_field :password, :placeholder => "Please enter your desired password...", class: 'form-control' %>

    <%= f.label :password_confirmation %><br>
    <%= f.password_field :password_confirmation, :placeholder => "Please confirm your desired password...", class: 'form-control' %>

    <%= f.submit "Create Account", class: "btn btn-primary" %>
  </div>
<% end %>

