<% provide(:title, "Anisite | Members") %>
<p id="notice"><%= notice %></p>
<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<h1>Members</h1>

		<table>
			<thead>
				<tr>
					<th>Username</th>
					<th>Animes Seen</th>
					<th>Average rating given by user</th>
				</tr>
			</thead>

			<tbody>
				<% @users.order('first_name ASC').each do |user| %>
				<tr>
					<td><%= user.username %></td>
					<td><%= user.observations.count %></td>
					<td><%= user.observations.average(:rating) %></td>
					<td><%= link_to 'View user profile', user %></td>
				</tr>
				<% end %>
			</tbody>
		</table>

		<br>
		
		
	</div>
</div>
