<% provide(:title, "Anisite | #{@user.first_name}") %>
<div class="row">
	<div class="col-md-2 col-md-offset-2">
		<p id="notice"><%= notice %></p>
		<p>
			<strong>First name:</strong>
			<%= @user.first_name %>
		</p>

		<p>
			<strong>Surname:</strong>
			<%= @user.surname %>
		</p>

		<p>
			<strong>Email:</strong>
			<%= @user.email %>
		</p>
		<% if @user.id == session[:user_id] %>
		<%= link_to 'Edit', edit_user_path(@user) %> |
		<%= link_to 'Add anime', new_anime_path %> |
		<% end %>
		<%= link_to 'Back', :back %>
	</div>
	<% if @animesseen.length > 0 %>
	<div id="a", class="col-md-6">
		<% @animesseen.each do |a| %>
		<div class="col-md-4">
			<div class="anime">
				<%= link_to a.title, a %>
			</div>
		</div>
		<% end %>
	</div>
	<% end %>
</div>



