<% provide(:title, "Anisite | #{@user.first_name}") %>
<div class="row">
	<div class="col-md-2 col-md-offset-2">
		<p id="notice"><%= notice %></p>
		<p>
			<strong>First name:</strong>
			<%= @user.first_name %>
		</p>

		<p>
			<strong>Surname:</strong>
			<%= @user.surname %>
		</p>

		<p>
			<strong>Email:</strong>
			<%= @user.email %>
		</p>
		<% if @user.id == session[:user_id] %>
		<%= link_to 'Edit', edit_user_path(@user) %> |
		<% end %>
		<%= link_to 'Back to member list', users_path %>
	</div>
	<% if @animesseen.length > 0 %>
	<div id="a", class="col-md-6">
		<% @animesseen.each do |a| %>
		<div class="col-md-4">
			<div class="anime">
				<%= link_to a.title, a %>
			</div>
		</div>
		<% end %>
	</div>
	<% end %>
	
	<% if @comments.length > 0 %>
	<div id="b", class="col-md-6 col-md-offset-4">
		<h3>Comments</h3>
		<% @comments.each do |comment| %>
		<div class="col-md-12">
			<div class="comments">
				<%= "#{comment.username} - #{comment.written_comment}" %>
			</div>
		</div>
		<% end %>
	</div>
	<% end %>
	<div class="col-md-6 col-md-offset-4">
	<%= form_for([@user, @user.comments.build]) do |f| %>
	  <p>
	    <%= f.label :Write_comment %><br>
	    <%= f.text_area :written_comment %>
	  </p>
	  <p>
	    <%= f.submit %>
	  </p>
	<% end %>
	</div>
	
	
</div>



